.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    position: relative;
    padding: 20px;
    cursor: pointer;
    .flip-card-content {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        z-index: 0;
        .front,
        .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            background-color: white;
            color: black;
            border: 1px solid black;
            .image-container {
                width: 100%;
                height: 50%;
                border-bottom: 1px solid black;
                .image {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .text-container {
                font-size: 100%;
                height: 50%;
                padding: 5% 2%;
                .title {
                    font-size: 100%;
                    word-break: break-all;
                }
                .example {
                    font-size: 75%;
                    word-break: break-all;
                }
            }
        }
        .front {
            z-index: 2;
        }
        .back {
            transform: rotateY(180deg);
            z-index: 1;
        }
        &.show-back {
            transform: rotateY(180deg);
        }
    }
    .card-options {
        position: absolute;
        top: 0;
        right: 0;
        align-items: center;
        z-index: 2;
        button {
            font-size: 15px;
            padding: 0;
            height: 25px;
            width: 25px;
            &:focus {
                box-shadow: unset;
            }
        }
    }
    .knowledge {
        text-align: center;
    }

    &.work-with-hover:hover .flip-card-content {
        transform: rotateY(180deg);
    }
    &.work-with-focus .flip-card-content {
        transform: rotateY(180deg);
    }
}
