.form-tags {
  margin-bottom: 15px;
  padding: 6px 12px;
  width: 100%;
  /* --------------react tag input-------------- */
  /* Example Styles for React Tags*/
  /* Styles for the input */
  /* Styles for selected tags */
  /* Styles for suggestions */ }
  .form-tags div.ReactTags__tags {
    position: relative; }
  .form-tags div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block; }
  .form-tags div.ReactTags__tagInput input.ReactTags__tagInputField,
  .form-tags div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee; }
  .form-tags div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px; }
  .form-tags div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer; }
  .form-tags div.ReactTags__suggestions {
    position: absolute;
    z-index: 1; }
  .form-tags div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 200px; }
  .form-tags div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0; }
  .form-tags div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600; }
  .form-tags div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer; }
