@import '../../../utils.scss';
.cards-list {
    display: flex;

    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    .flip-card {
        width: calc(100% / 3 - 30px);
        margin: 20px 15px;
    }
}
.modal-root .modal-container .modal-content {
    width: 500px;
    .modal-form {
        .adder {
            display: flex;
            justify-content: space-between;
            &.front {
            }
            &.back {
            }
            .inputs {
                width: 60%;
            }
            .preview {
                width: 40%;
            }
        }
    }
}
