@import '../../../utils.scss';
.cards-list {
    padding: 20px;
    .flip-card {
        max-width: 250px;
        display: inline-block;
    }
}
.modal-content {
    width: 500px;
    .modal-form {
        .adder {
            display: flex;
            justify-content: space-between;
            &.front {
            }
            &.back {
            }
            .inputs {
                width: 58%;
                .adder-image {
                    .image {
                        margin: 0;
                    }
                }
            }
            .preview {
                width: 38%;
                .flip-card {
                    max-width: 100%;
                }
            }
        }
    }
}
