li {
  list-style-type: none; }

button:focus {
  outline: none; }

.cards-list {
  padding: 20px; }
  .cards-list .flip-card {
    max-width: 250px;
    display: inline-block; }

.modal-content {
  width: 500px; }
  .modal-content .modal-form .adder {
    display: flex;
    justify-content: space-between; }
    .modal-content .modal-form .adder .inputs {
      width: 58%; }
      .modal-content .modal-form .adder .inputs .adder-image .image {
        margin: 0; }
    .modal-content .modal-form .adder .preview {
      width: 38%; }
      .modal-content .modal-form .adder .preview .flip-card {
        max-width: 100%; }
