li {
  list-style-type: none; }

button:focus {
  outline: none; }

.cards-list {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap; }
  .cards-list .flip-card {
    width: calc(100% / 3 - 30px);
    max-width: 250px;
    margin: 20px 15px; }

.modal-content {
  width: 500px; }
  .modal-content .modal-form .adder {
    display: flex;
    justify-content: space-between; }
    .modal-content .modal-form .adder .inputs {
      width: 58%; }
      .modal-content .modal-form .adder .inputs .adder-image .image {
        margin: 0; }
    .modal-content .modal-form .adder .preview {
      width: 38%; }
      .modal-content .modal-form .adder .preview .flip-card {
        max-width: 100%; }
