li {
  list-style-type: none; }

button.button.action {
  background-color: transparent;
  border: solid 1px #00a0d0;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lato;
  font-size: 11px;
  border-radius: 10px;
  padding: 0px 12px;
  height: auto;
  margin-left: 15px; }

button:focus {
  outline: none; }

.user-list .search-area .filter-container .filters {
  flex-wrap: wrap;
  width: 100%; }
  .user-list .search-area .filter-container .filters .filter-line {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .user-list .search-area .filter-container .filters .filter-line .inputs {
      justify-content: space-between;
      display: flex;
      width: 50%; }
    .user-list .search-area .filter-container .filters .filter-line .checkboxes {
      justify-content: space-between;
      display: flex;
      width: 50%; }
  .user-list .search-area .filter-container .filters .filter-tags {
    width: 100%; }

.user-list .grid {
  font-family: 'Lato', sans-serif;
  margin-top: 20px; }
  .user-list .grid .grid-row {
    border-left: solid 5px #00a0d0; }
    .user-list .grid .grid-row.admin {
      border-left: solid 5px #e3163a; }
    .user-list .grid .grid-row.approver {
      border-left: solid 5px #7cc253; }
    .user-list .grid .grid-row .column.profile-picture {
      flex: 1; }
    .user-list .grid .grid-row .column.name {
      display: flex;
      justify-content: flex-start;
      flex: 3; }
      .user-list .grid .grid-row .column.name .title {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: bold;
        max-width: 66%;
        padding-left: 20px; }
    @media only screen and (min-width: 992px) {
      .user-list .grid .grid-row .column.tags {
        padding: 0 5px;
        flex: 2;
        align-items: center;
        overflow: scroll;
        margin: 0 10px;
        border: 1px #ffaaaa dashed;
        display: flex; }
      .user-list .grid .grid-row .column.name-content .with-label {
        width: auto; }
        .user-list .grid .grid-row .column.name-content .with-label .label {
          margin: 0;
          display: block;
          line-height: 1.5;
          font-size: 12px;
          font-family: 'Lato', sans-serif; }
        .user-list .grid .grid-row .column.name-content .with-label p {
          font-family: 'Lato', sans-serif;
          font-weight: normal;
          line-height: 1.5;
          font-size: 12px; }
      .user-list .grid .grid-row .column.data {
        flex: 2; }
        .user-list .grid .grid-row .column.data .with-label {
          width: auto; }
          .user-list .grid .grid-row .column.data .with-label .label {
            margin: 0;
            width: calc(100% - 120px);
            display: block;
            line-height: 1.5;
            font-size: 12px;
            font-family: 'Lato', sans-serif; }
          .user-list .grid .grid-row .column.data .with-label p {
            font-family: 'Lato', sans-serif;
            width: 120px;
            font-weight: normal;
            line-height: 1.5;
            font-size: 12px; }
      .user-list .grid .grid-row .column.buttons {
        flex: 2; }
        .user-list .grid .grid-row .column.buttons .form-item {
          margin-bottom: 0; } }
