@import '../../../utils.scss';

.picure-uploader {
    input[type='text'] {
        width: calc(100% - 120px);
    }
    .upload-btn-wrapper {
        position: relative;
        display: inline-block;
        cursor: pointer;
        .upload-btn {
            border: 1px solid #ced4da;
            border-radius: 0 4px 4px 0;
        }
        input[type='file'] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }
}
