li {
  list-style-type: none; }

button:focus {
  outline: none; }

.picure-uploader .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer; }
  .picure-uploader .upload-btn-wrapper .upload-btn {
    border: 1px solid #ced4da;
    border-radius: 0 4px 4px 0; }
  .picure-uploader .upload-btn-wrapper input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer; }
