li {
  list-style-type: none; }

button.button.action {
  background-color: transparent;
  border: solid 1px #00a0d0;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lato;
  font-size: 11px;
  border-radius: 10px;
  padding: 0px 12px;
  height: auto;
  margin-left: 15px; }

button:focus {
  outline: none; }

.row-label {
  display: flex;
  justify-content: space-between; }
  .row-label .label {
    margin-top: 5px;
    display: inline-block;
    padding: 0 15px 0 0;
    text-align: left;
    font-size: 11px;
    color: #758396;
    text-transform: uppercase;
    font-weight: normal;
    font-family: Lato;
    width: 50%; }
  .row-label .value {
    margin: 5px 0 0;
    padding: 0 0 0 15px;
    font-size: 13px;
    font-family: Lato;
    font-weight: bold;
    width: 50%; }
