li {
  list-style-type: none; }

button.button.action {
  background-color: transparent;
  border: solid 1px #00a0d0;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lato;
  font-size: 11px;
  border-radius: 10px;
  padding: 0px 12px;
  height: auto;
  margin-left: 15px; }

button:focus {
  outline: none; }

.menu .menu-item {
  padding: 15px 0;
  position: relative; }
  .menu .menu-item a {
    color: #c8c9ce;
    text-decoration: none;
    display: flex; }
    .menu .menu-item a .icon {
      width: 20px;
      height: 20px;
      flex: 0 0 20px;
      color: #8b939b;
      display: inline-block; }
    .menu .menu-item a .text {
      font-size: 11px;
      text-transform: uppercase;
      display: inline-block; }
    .menu .menu-item a .tooltip {
      z-index: 1;
      display: none;
      position: absolute;
      top: 10px;
      left: 35px;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      font-size: 11px;
      line-height: 30px;
      color: #444;
      text-transform: uppercase;
      padding: 5px 10px;
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
      transition: all 0.35s ease; }
    .menu .menu-item a:hover {
      color: #ffffff; }
      .menu .menu-item a:hover .icon {
        color: #ffffff; }
      .menu .menu-item a:hover .tooltip {
        opacity: 1;
        visibility: visible; }
    .menu .menu-item a.active {
      color: #eff1f3; }
      .menu .menu-item a.active .icon {
        color: #eff1f3; }
