li {
  list-style-type: none; }

button.button.action {
  background-color: transparent;
  border: solid 1px #00a0d0;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lato;
  font-size: 11px;
  border-radius: 10px;
  padding: 0px 12px;
  height: auto;
  margin-left: 15px; }

button:focus {
  outline: none; }

.subject {
  display: flex;
  min-height: calc(100vh - 140px);
  max-height: calc(100vh - 140px);
  justify-content: space-between; }
  .subject .folders {
    width: 25%;
    position: relative; }
    .subject .folders .list {
      border: 1px solid black;
      border-radius: 0 0 0 10px;
      overflow: scroll;
      height: 100%; }
    .subject .folders .new-subject {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 40px;
      height: 40px; }
  .subject .cards {
    width: 74%;
    position: relative; }
    .subject .cards .cards-list {
      border: 1px solid black;
      border-radius: 0 0 10px 0;
      overflow: scroll;
      width: 100%;
      min-height: 100%;
      max-height: 100%;
      background-color: white; }
    .subject .cards .new-card {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      z-index: 1; }
    .subject .cards .package-ingormations {
      position: absolute;
      top: 0;
      left: 10px;
      transform: translateY(-50%);
      border: 1px solid black;
      background-color: white;
      display: flex;
      z-index: 1; }
      .subject .cards .package-ingormations p {
        margin: 0;
        padding: 5px; }
        .subject .cards .package-ingormations p.correction {
          color: green; }
        .subject .cards .package-ingormations p.incorrection {
          color: red; }
    .subject .cards .package-tags {
      position: absolute;
      top: 0;
      right: 60px;
      transform: translateY(-50%);
      border: 1px solid black;
      background-color: white;
      z-index: 1;
      height: 36px;
      display: flex;
      align-items: center;
      overflow-y: scroll; }
