li {
  list-style-type: none; }

button:focus {
  outline: none; }

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 15px;
  justify-content: space-around; }
  .pagination p {
    margin: 0; }
  @media only screen and (min-width: 700px) {
    .pagination {
      justify-content: unset; } }
  .pagination .page-info {
    width: 100%;
    color: #333;
    font-size: 12px;
    margin: auto;
    text-align: center;
    padding-top: 5px; }
    @media only screen and (min-width: 700px) {
      .pagination .page-info {
        padding: 0;
        width: 175px;
        text-align: left; }
        .pagination .page-info.no-pages {
          width: 100%; } }
  .pagination .paging {
    width: 100%;
    text-align: center;
    padding: 15px 0 0; }
    .pagination .paging .dots,
    .pagination .paging button {
      min-width: 33px;
      height: 33px;
      padding: 6px 12px;
      margin: 0 0 0 2px;
      text-align: center;
      color: #333;
      border: 0;
      background: transparent;
      box-sizing: border-box;
      font-size: 12px;
      line-height: 1.5; }
    .pagination .paging button {
      cursor: pointer; }
      .pagination .paging button:active {
        outline: none;
        background-color: #2b2b2b;
        border-radius: 50%;
        transition: all 0.35s ease; }
      .pagination .paging button.nav-button {
        transition: all 0.35s ease; }
        .pagination .paging button.nav-button:hover {
          color: #00a0d0; }
        .pagination .paging button.nav-button:disabled, .pagination .paging button.nav-button[disabled] {
          color: #ced3da;
          cursor: default;
          background: transparent; }
      .pagination .paging button.number-button:hover {
        color: #00a0d0; }
      .pagination .paging button.number-button.active {
        color: #fff;
        border: 1px solid #00a0d0;
        background-color: #00a0d0;
        border-radius: 50%; }
    @media only screen and (min-width: 700px) {
      .pagination .paging {
        padding: 0;
        width: calc(100% - 175px);
        text-align: right; } }
  .pagination .page-size {
    width: 100%;
    text-align: center; }
    .pagination .page-size label {
      font-size: 12px;
      color: #000;
      font-family: inherit; }
      .pagination .page-size label .combo {
        display: inline-block;
        margin: 15px 5px 8px; }
    @media only screen and (min-width: 700px) {
      .pagination .page-size {
        text-align: left; }
        .pagination .page-size label .combo {
          margin: 5px; } }
