li {
  list-style-type: none; }

button:focus {
  outline: none; }

.avatar-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  user-select: none;
  cursor: pointer; }
  .avatar-circle:focus {
    outline: 0; }
  .avatar-circle .monogram {
    position: relative;
    top: 12.5px;
    font-size: 20px;
    line-height: 1.25;
    color: #fff;
    font-family: 'Lato';
    font-weight: 300;
    user-select: none; }
  .avatar-circle.red {
    background-color: #e3163a;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
  .avatar-circle .profile-picture {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%; }
