.dashboard {
    .new-shared-package {
        width: 60%;
    }
    .filters {
        display: flex;
        flex-direction: column;
        widows: 100%;
        .filter-line {
            display: flex;
            flex-direction: row;
            label,
            input {
                flex: 1;
                &.for-checkbox {
                    flex: 4;
                }
            }
        }
    }
}
