li {
  list-style-type: none; }

button.button.action {
  background-color: transparent;
  border: solid 1px #ff7733;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lato;
  font-size: 11px;
  border-radius: 10px;
  padding: 0px 12px;
  height: auto;
  margin-left: 15px; }

button:focus {
  outline: none; }

.checkbox-field {
  margin: 0; }
  .checkbox-field .checkbox {
    cursor: pointer;
    font-size: 14px; }
    .checkbox-field .checkbox input[type='checkbox'] {
      opacity: 0;
      height: 0;
      margin: 0;
      width: 0;
      padding: 0; }
    .checkbox-field .checkbox .box {
      background: #fff;
      border: 1px solid #758396;
      display: block;
      float: left;
      overflow: hidden;
      position: relative;
      width: 22px;
      height: 22px;
      text-align: right; }
      .checkbox-field .checkbox .box:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        right: 0;
        top: 0; }
      .checkbox-field .checkbox .box.checked:before {
        width: 0;
        transition: width 0.4s; }
      .checkbox-field .checkbox .box .icon {
        display: block;
        color: #00a0d0;
        width: 16px;
        margin-right: 1px; }
    .checkbox-field .checkbox .checkbox-label {
      font-size: 11px;
      color: #758396;
      text-transform: uppercase;
      font-weight: normal;
      margin-left: 5px; }
    .checkbox-field .checkbox.read-only .box {
      background-color: #d6d6d6;
      border: 1px solid #999; }
      .checkbox-field .checkbox.read-only .box:before {
        background-color: #d6d6d6; }
      .checkbox-field .checkbox.read-only .box .icon {
        color: #999; }
    .checkbox-field .checkbox.read-only .checkbox-label {
      color: #999; }
