li {
  list-style-type: none; }

button:focus {
  outline: none; }

.friends-list .search-area .filter-container .filters {
  flex-wrap: wrap;
  width: 100%; }
  .friends-list .search-area .filter-container .filters .filter-line {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .friends-list .search-area .filter-container .filters .filter-line .inputs {
      justify-content: space-between;
      display: flex;
      width: 50%; }
    .friends-list .search-area .filter-container .filters .filter-line .checkboxes {
      justify-content: space-between;
      display: flex;
      width: 50%; }
  .friends-list .search-area .filter-container .filters .filter-tags {
    width: 100%; }

.friends-list .grid {
  font-family: 'Lato', sans-serif;
  margin-top: 20px; }
  .friends-list .grid .grid-row {
    border-left: solid 5px #00a0d0; }
    .friends-list .grid .grid-row.admin {
      border-left: solid 5px #e3163a; }
    .friends-list .grid .grid-row.approver {
      border-left: solid 5px #7cc253; }
    .friends-list .grid .grid-row .column.profile-picture {
      flex: 1; }
    .friends-list .grid .grid-row .column.name {
      display: flex;
      justify-content: flex-start;
      flex: 3; }
      .friends-list .grid .grid-row .column.name .title {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: bold;
        max-width: 66%;
        padding-left: 20px; }
    @media only screen and (min-width: 992px) {
      .friends-list .grid .grid-row .column.status {
        padding: 0 23px;
        flex: 1; }
      .friends-list .grid .grid-row .column.name-content .with-label {
        width: auto; }
        .friends-list .grid .grid-row .column.name-content .with-label .label {
          margin: 0;
          display: block;
          line-height: 1.5;
          font-size: 12px;
          font-family: 'Lato', sans-serif; }
        .friends-list .grid .grid-row .column.name-content .with-label p {
          font-family: 'Lato', sans-serif;
          font-weight: normal;
          line-height: 1.5;
          font-size: 12px; }
      .friends-list .grid .grid-row .column.data {
        flex: 2; }
        .friends-list .grid .grid-row .column.data .with-label {
          width: auto; }
          .friends-list .grid .grid-row .column.data .with-label .label {
            margin: 0;
            width: calc(100% - 120px);
            display: block;
            line-height: 1.5;
            font-size: 12px;
            font-family: 'Lato', sans-serif; }
          .friends-list .grid .grid-row .column.data .with-label p {
            font-family: 'Lato', sans-serif;
            width: 120px;
            font-weight: normal;
            line-height: 1.5;
            font-size: 12px; }
      .friends-list .grid .grid-row .column.buttons {
        flex: 2; }
        .friends-list .grid .grid-row .column.buttons .with-label {
          justify-content: space-between;
          width: auto; }
          .friends-list .grid .grid-row .column.buttons .with-label .label {
            padding: 0 15px 0 0;
            text-align: right;
            width: calc(100% - 120px);
            display: block; }
          .friends-list .grid .grid-row .column.buttons .with-label .date {
            padding: 0 0 0 15px;
            width: 120px;
            text-align: right;
            font-weight: normal;
            line-height: 1.5; } }
