li {
  list-style-type: none; }

button.button.action {
  background-color: transparent;
  border: solid 1px #ff7733;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lato;
  font-size: 11px;
  border-radius: 10px;
  padding: 0px 12px;
  height: auto;
  margin-left: 15px; }

button:focus {
  outline: none; }

.game-settings {
  width: 28%; }
  .game-settings .role-hints-component {
    position: relative;
    text-transform: none;
    display: flex;
    justify-content: flex-end; }
    .game-settings .role-hints-component .opener {
      background: none;
      border: none;
      cursor: pointer; }
      .game-settings .role-hints-component .opener .icon {
        width: 20px;
        height: 20px; }
    .game-settings .role-hints-component .dropdown {
      position: absolute;
      min-width: 300px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.35);
      background-color: white;
      padding: 15px;
      font-family: 'Lato', sans-serif;
      z-index: 1;
      top: -20px;
      right: 0;
      transform: translate(100%, 0); }
      .game-settings .role-hints-component .dropdown.hide {
        display: none; }
      .game-settings .role-hints-component .dropdown.show {
        display: block; }
      .game-settings .role-hints-component .dropdown .dropdown-title {
        margin: 0 0 15px;
        font-size: 20px;
        font-weight: 300; }
      .game-settings .role-hints-component .dropdown .dropdown-description .description-title {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
        margin: 0 0 8px; }
      .game-settings .role-hints-component .dropdown .dropdown-description .description-text {
        font-size: 14px;
        margin: 0 0 16px;
        color: #212529;
        line-height: 1.2;
        font-weight: 500; }
  .game-settings .cards-harndess {
    padding: 15px;
    border: 2px dashed #979797; }
    .game-settings .cards-harndess .checkbox-container {
      display: flex;
      flex-direction: column; }
      .game-settings .cards-harndess .checkbox-container .checkbox-field {
        padding: 0 15px 0 0; }
        .game-settings .cards-harndess .checkbox-container .checkbox-field .checkbox {
          margin-bottom: 0; }
    .game-settings .cards-harndess .selected-cards {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end; }
      .game-settings .cards-harndess .selected-cards .selected-cards-info {
        margin: 0; }
