li {
  list-style-type: none; }

button:focus {
  outline: none; }

.list .list-subject {
  padding: 5px 20px; }
  .list .list-subject i {
    width: 18px;
    height: 18px; }
  .list .list-subject .title {
    cursor: pointer; }
    .list .list-subject .title:hover {
      background-color: #ccc; }
    .list .list-subject .title .text {
      padding-left: 10px; }
  .list .list-subject .packages {
    transform: scaleY(0);
    transition: transform 0.1s ease-in;
    padding: 0 20px;
    height: 0; }
    .list .list-subject .packages .pack {
      display: block;
      cursor: pointer; }
      .list .list-subject .packages .pack:hover {
        background-color: #ccc; }
      .list .list-subject .packages .pack .text {
        padding-left: 10px; }
  .list .list-subject.open .packages {
    overflow: hidden;
    transition: transform 0.1s ease-out;
    height: auto;
    transform: scaleY(1);
    transform-origin: top;
    padding: 5px 20px; }
