@import '../../../utils.scss';
.list {
    .list-subject {
        padding: 0px 20px;
        .subject-element {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &:hover {
                background-color: #ccc;
                .subject-options {
                    display: flex;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .text {
                width: 100%;
                i {
                    width: 18px;
                    height: 18px;
                }
                .subject-name {
                    margin: 0;
                    padding-left: 10px;
                }
            }
            .subject-options {
                display: none;
                align-items: center;
                button {
                    font-size: 15px;
                    padding: 0;
                    height: 100%;
                    width: 24px;
                    &:focus {
                        box-shadow: unset;
                    }
                }
            }
        }
        .packages {
            transform: scaleY(0);
            transition: transform 0.1s ease-in;
            padding: 0 20px;
            height: 0;
            .pack {
                display: block;
                cursor: pointer;
                position: relative;
                &:hover {
                    background-color: #ccc;
                    .pack-options {
                        display: flex;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                .pack-options {
                    display: none;
                    align-items: center;
                    button {
                        font-size: 15px;
                        padding: 0;
                        height: 100%;
                        width: 24px;
                        &:focus {
                            box-shadow: unset;
                        }
                    }
                }
            }
        }

        &.open {
            .packages {
                overflow: hidden;
                transition: transform 0.1s ease-out;
                height: auto;
                transform: scaleY(1);
                transform-origin: top;
                padding: 5px 0 5px 20px;
            }
        }
    }
}
