li {
  list-style-type: none; }

button:focus {
  outline: none; }

.list .list-subject {
  padding: 0px 20px; }
  .list .list-subject .subject-element {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .list .list-subject .subject-element:hover {
      background-color: #ccc; }
      .list .list-subject .subject-element:hover .subject-options {
        display: flex;
        position: absolute;
        right: 0;
        top: 0; }
    .list .list-subject .subject-element .text {
      width: 100%; }
      .list .list-subject .subject-element .text i {
        width: 18px;
        height: 18px; }
      .list .list-subject .subject-element .text .subject-name {
        margin: 0;
        padding-left: 10px; }
    .list .list-subject .subject-element .subject-options {
      display: none;
      align-items: center; }
      .list .list-subject .subject-element .subject-options button {
        font-size: 15px;
        padding: 0;
        height: 100%;
        width: 24px; }
        .list .list-subject .subject-element .subject-options button:focus {
          box-shadow: unset; }
  .list .list-subject .packages {
    transform: scaleY(0);
    transition: transform 0.1s ease-in;
    padding: 0 20px;
    height: 0; }
    .list .list-subject .packages .pack {
      display: block;
      cursor: pointer;
      position: relative; }
      .list .list-subject .packages .pack:hover {
        background-color: #ccc; }
        .list .list-subject .packages .pack:hover .pack-options {
          display: flex;
          position: absolute;
          right: 0;
          top: 0; }
      .list .list-subject .packages .pack .pack-options {
        display: none;
        align-items: center; }
        .list .list-subject .packages .pack .pack-options button {
          font-size: 15px;
          padding: 0;
          height: 100%;
          width: 24px; }
          .list .list-subject .packages .pack .pack-options button:focus {
            box-shadow: unset; }
  .list .list-subject.open .packages {
    overflow: hidden;
    transition: transform 0.1s ease-out;
    height: auto;
    transform: scaleY(1);
    transform-origin: top;
    padding: 5px 0 5px 20px; }

.modal-container.one-line-modal .modal-content .modal-form .form-group.form-tags {
  width: 100%;
  padding: 10px 0; }
